{
  "db": {
    "host": "127.0.0.1",
    "port": 5432,
    "user": "user",
    "password": "password",
    "db": "backbone-space"
  },
  "seeders": {
    "users": [
      {
        "username": "AdminUsername",
        "password": "AdminPassword",
        "name": "Admin User",
        "email": "admin_user@gmail.com",
        "phone": "+98000000000"
      }
    ]
  },
  "email": {
    "send-command": "mail -s '{title}' -a 'Content-Type: text/html' {email}",
    "timeout": 10
  }
}
